<div class="examples-container">

  <div class="example-card">
    <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
    <div>
      <a href='/abtest'>A/B Testing</a>
    </div>
  </div>

  <div class="example-card">
    <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
    <div>
      <a href='/add_remove_elements/'>Add/Remove Elements</a>
    </div>
  </div>

  <div class="example-card">
    <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
    <div>
      <a href='/basic_auth'>Basic Auth</a> (user and pass: admin)
    </div>
  </div>

  <div class="example-card">
    <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
    <div>
      <a href='/broken_images'>Broken Images</a>
    </div>
  </div>
  
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/challenging_dom'>Challenging DOM</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/checkboxes'>Checkboxes</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/context_menu'>Context Menu</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/digest_auth'>Digest Authentication</a> (user and pass: admin)</div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/disappearing_elements'>Disappearing Elements</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/drag_and_drop'>Drag and Drop</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/dropdown'>Dropdown</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/dynamic_content'>Dynamic Content</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/dynamic_controls'>Dynamic Controls</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/dynamic_loading'>Dynamic Loading</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/entry_ad'>Entry Ad</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/exit_intent'>Exit Intent</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/download'>File Download</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/upload'>File Upload</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/floating_menu'>Floating Menu</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/forgot_password'>Forgot Password</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/login'>Form Authentication</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/frames'>Frames</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/geolocation'>Geolocation</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/horizontal_sdivder'>Horizontal Sdivder</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/hovers'>Hovers</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/infinite_scroll'>Infinite Scroll</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/inputs'>Inputs</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/jqueryui/menu'>JQuery UI Menus</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/javascript_alerts'>JavaScript Alerts</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/javascript_error'>JavaScript onload event error</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/key_presses'>Key Presses</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/large'>Large & Deep DOM</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/windows'>Multiple Windows</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/nested_frames'>Nested Frames</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/notification_message'>Notification Messages</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/redirector'>Redirect divnk</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/download_secure'>Secure File Download</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/shadowdom'>Shadow DOM</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/shifting_content'>Shifting Content</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/slow'>Slow Resources</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/tables'>Sortable Data Tables</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/status_codes'>Status Codes</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/typos'>Typos</a></div></div>
  <div class="example-card">
  <img src="https://i.pinimg.com/originals/ee/ae/12/eeae128c67a6f0a902a27bc8e9af7bea.png" alt="testing">
  <div>
  <a href='/tinymce'>WYSIWYG Editor</a></div></div>
</div> 
<div>

