<style>
  .examples-container {
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    /* padding: 10px; */
  }
  .example-card {
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    width: 180px;
    text-align: center;
  }
  .example-card img {
    width: 60%;
    height: auto;
    margin-bottom: 10px;
  }
  .example-card a {
    font-size: 1.2rem;
  }
</style>
<h1 class="heading">Techglobal School Testing Lab</h1>
<%= erb :examples %>
